            body
            {
                background-color:black;
            }

            h1
            {
                font-family:comic sans ms;
                color:orange;
            }

            h3
            {
                font-family:comic sans ms;
                color:orange;
            }

			div
			{
			    font-family:comic sans ms;
				color:orange;
			}

			p
			{
			    font-family:comic sans ms;
			    color:orange;
			}

			a
			{
			    font-family:comic sans ms;
			    color:orange;
			}

			button
			{
			    font-family:comic sans ms;
                color:orange;
                background-color:black;
			}